@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
.blue
{
    background-color: #10263b;
    padding-top: 0px;
}
.button{
       margin-left: -5px;
       background: #081e2f;
       padding: 20px 13px 20px 3px;;
}


.nav-link{
    color: white;
   
}
#navbarSupportedContent{
    margin-bottom: -9px;
}
.input{
    padding: 18px 16px 18px 16px;
    border: none;
    background-color: #081e2f ;
}
#menu{
    border-right: none;
}
.active,.nav-link:hover{
    color: yellow;
}
.image{
    height: 500px;
    background:  linear-gradient(0, black, transparent),url("images/patrick-hendry-6xeDIZgoPaw-unsplash.jpg");
    background-position: center;
   background-size: cover;
   color: white;
   position: relative;
}
.image{
    color: white;
}
.bo{
    border-bottom: 2px dashed rgb(172, 160, 148);
}
.orange{
    color: #ff8b23;
}
.bgorange{
   background: #ff8b23;
}
/* .main{
    position: relative;

} */
.grey{
    color: rgb(172, 160, 148);
}
.bggrey{
   background-color:#e3e5e5;
}
.height{
    height: 400px;
    background-color: #163e62;
}
.white{
    color: white;
}
.bgwhite{
    background-color: white;
}
.award_parent{
    position: relative;
    margin-left: -15px;
}
.award{
    position: absolute;
    top: 0;
    left: 0;
    
}
.right{
    position: relative;
    top: 10%;
    left: 25%;
    width: 67%;
}
.bgyellow{
    background-color: #feb900;
}
.yellow{
    color: #feb900;
}
.check{
    width: 20px;
    height: 24px;
   
}
.bb{
   
    border-bottom: 1px solid darkslategrey;
}

.d{
    margin-top: 10px;
    border-bottom: 2px solid gray;
}
#panelsStayOpen-headingOne{
    background-color: #10263b;
}
.hover:hover{
    color: white;
}
.owl-prev{
    box-shadow: 0px 1px 7px;
}
.owl-next{
    box-shadow: 0px 1px 7px;
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: white;
    color: black; 
    padding: 2px 23px!important;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 30px;
    position: relative;
    top: 26px;
    left: 0%;
}

.pink{
background:#f8f4f3;
}

.bgwhite{
    background-color: white;
}
.bb2{
    border-bottom: 3px solid #feb900;
}
.bggrey{
background-color: rgb(172, 160, 148);
}

.bord{
    border: 1px solid black;
    padding: 20px !important;
    padding-bottom: 89px !important;
    padding-right: 50px!important;
}

*{
    list-style-type: none;
    text-decoration: none;
  
    
}
.footer{
    background: url('images/footerbg.jpg');
}
.footer ul li{
    margin-top: 15px;
    
}
.footer ul li a{
    color: gray;
}
.footer ul li a:hover{
    color: white;
    text-decoration: none;
}
.footer h5{
    margin-left: 30px;
}
.sky{
    margin-left: 30px;
    width: 60px;
    height: 3px;
    background-color: #51c5e9;
}
.black{
    background-color: #262626;
}
.logo{
    background: url('images/main\ logo.svg');
      top: 18px;
    text-indent: -9999px;
    height: 18px;
    width: 152px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 152px 18px;
}
.bggreen{
    background-color: #82b440;
}
.dropdown:hover .dropdown-menu{
    display: block;
    transition-duration: -1s;
}
.dropdown-menu{
background-color: rgb(2, 2, 2);

}
.dropdown-menu li a:hover{
color: aqua;
background-color:rgb(2, 2, 2);

}
.dropdown-menu li a{
color:white

}
.skycolor{
    color: #51c5e9;
}
.link span{
    letter-spacing: -5px;
}

.icons{
    margin-top: 15px;
    font-size: 25px;
    color: #474d4d;
}
.copyright{
    background-color: #06121c;
}

.banner button{
    padding: 12px 30px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border: none;
}

.menu{
    padding: 0 16px 0 16px !important;
    border-right: 1px dashed gray;
}
.banner .btn-1{
    background-color: #ffba00;
    border-radius: 5px;
    margin-right: 22px;
    font-size: 15px !important;

}
.banner .btn-2{
    background-color: #51c5e9;
    border-radius: 5px;
    color: white;
    font-size: 15px !important;
}
.banner .btn-1:hover{
    background-color: #51c5e9;
    color: white;

}
.banner .btn-2:hover{
    background-color: #ffba00;
}
.banner h1{
    font-weight: bold;
    font-size: 48px;
}
.banner h1 span{
    font-weight: 400;
    
}
.banner p{
    letter-spacing: 2px;
    font-size: 18px;
}
.we-do{
    color: #ff8b23;
    font-size: 14px;
    font-weight: bold;
}
.services h1{
    font-weight: 800;
    font-size: 50px;
}
.services h1 + p{
    margin-top: 21px;
    margin-bottom: 44px;
}
.services .parent{
    position: relative;
}
.services .parent .submain{
    position: relative;
    top: -25px;
    left: 15px;
    width: 96%;
}
.core h3{
    font-weight: 800 !important;
}
.core h3+p{
    font-size: 19px;
    margin: 42px 5px 42px 5px;
}
.quotes{
    width: 52px !important;
}
.quotes .man{
    width: 50px !important;
}
.owl-carousel .owl-item .man{
    display: block;
    width: 6%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffff00;

}
.btnres button{
    background-color: #262626;
    margin-top: 0px;
    font-size: 20px;
    padding: 7px 9px 8px 14px;
}
.right h6{
    color: #ffba00;
    font-weight: 700;
}
.about .para{
    font-size: 46px;
    font-weight: 800 !important;
}
.about .para + p{
    font-size: 18px;
    padding-bottom: 15px;
}
.yellows{
    color: #ff8b23 !important;
    font-weight: 700 !important;
    FONT-SIZE: 15PX;
    padding-top: 54px
}
.gallery .h1{
    font-size: 3rem;
    margin-bottom: 47px;
}
.gallery{
    background-color: #1e222b;
    padding-bottom: 3px !important;
    position: relative;
}
.current .h1{
    font-size: 50px;
    font-weight: 700;
}
.current .grey{
    font-size: 17px;
}
.current .card{
    position: relative;
    border-radius: 0px;
    border: 1px dotted slategray
}
.current .card-img-top{
    border-radius: 0px;
}
.current .card pre{
    font-size: 18px;
}
.current .card p{
    font-size: 19px;
    font-weight: 800;
}
.current .card a{
    font-size: 14px;
    font-weight: 700;
}
.marketing{
    background-color: #173d64;
}
.clients .h-1{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 31px;

}
.clients .h-1 + p{
    word-spacing: 1px;
    margin-bottom: 37px;
}
.clients .submit{
    background-color: #fab90a;
    font-weight: 600;
}
.ftb{
    background-color: #173d64;
}
.ftb p{
    font-size: 24px;
}
.ftb a{
    background-color: #fab90a;
    padding: 14px 27px;
    font-weight: 700;
    border-radius: 5px;
}
.date{
    position: absolute;
    width: 68px;
    height: 68px;
    text-align: center;
    background: #ffba00;
    left: unset;
    top: 139px;
    z-index: 22;
    right: 15px;
    border-radius: 50%;
}
.date h3{
    margin-top: 10px;
    font-size: 23px;
    line-height: 19px;
}

@media only screen and (max-width:1200px){
    #card-3{
        margin: 20px auto ;
    }
}

@media only screen and (max-width:1000px){
    #card-2, #card-1{
        margin: 10px auto ;
    }
    .manresponsive img{
        margin: 2px 0 3px 17%;
    }
}
@media only screen and (max-width: 600px){
    .workresp{
        margin-left: 23%;
    }
    .manresponsive{
        margin-left: 1%;
        margin-bottom: 20px;
        }
        .award{
            display: none;
        }
}
@media only screen and (max-width: 830px){
    .manresponsive img{
    margin-left: 15%;
    margin-bottom: 20px;
    }
    .ftb-div{
      margin: auto;
    }   
}
@media only screen and (max-width: 500px){
    .award{
        display: none;
    }
    .right{
       padding-top: 10px !important;
    }
    .btnres{
        margin: 24px 5px 0px 82px;       
    }
    .logo{
        margin-top: 20px;
    }
   
}